body {
    font-family: 'Open Sans';
    font-size: 14px;
}

.title {
    margin-bottom: 24px;
    font-family: 'Merriweather';
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: $font-color-blue;
}

.content {
    margin-bottom: 40px;
}

.content h2 {
    font-family: 'Merriweather';
    margin-bottom: 25px;
    margin-top: 50px;
    font-size: 20px;
    line-height: 30px;
}

.content p {
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 18px;
    color: #1f3444;
}

.content img,
img {
    margin-bottom: 15px;
    border-radius: 10px;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.map {
    border-radius: 20px;
    overflow: hidden;

    & .ymaps-2-1-74-balloon {
        display: none;
    }
}

.map iframe {
    height: 300px;
    width: 100%;
}

@media (min-width: 992px) {
    main {
        padding-top: 45px;
        padding-bottom: 25px;
        background-color: #3791d6;
        background-image: url("/img/main-background.jpg");
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
    }

    .content-container {
        margin: 0 auto;
        padding: 40px 30px;
        border-radius: 20px;
        background-color: #eaf4fc;
    }

    .title {
        margin-bottom: 40px;
        font-size: 24px;
        line-height: 36px;
    }

    .content {
        margin: 0;
    }

    .content p {
        margin-bottom: 25px;
        font-size: 14px;
        line-height: 20px;
    }

    .map iframe {
        height: 400px;
        width: 100%;
    }
}
