.main-nav {
    padding: 38px 15px;
    position: absolute;
    top: -15px;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: $bg-color-light-blue;
    overflow: scroll;

    &--close {
        display: none;
    }
}


.main-nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__list > li {
    padding-bottom: 15px;
    margin-bottom: 15px;

    border-bottom: 1px solid #afd9f9;

    & > a {
        font-family: 'Open Sans';
        color: white;
        position: relative;

        &.active {
            color: $font-color-orange;
        }


        & i {
            display: inline-block;
            color: white;
            font-size: 18px;
            position: absolute;
            top: 0px;
            right: -18px;
        }
    }
}

.main-nav__sub-list {
    margin: 0;
    margin-top: 8px;
    padding: 0;
    list-style: none;

    & > li {
        margin: 0;
        margin-bottom: 8px;
        padding: 0;
        border-bottom: none;

        &:last-child {
            margin-bottom: 0;
        }
    }

    & > li > a {
        font-size: 12px;
        color: white;
    }
}

@media (min-width: 576px) {
    .main-nav__slogan-wrapper {
        padding-left: 80px;
    }
}


@media (min-width: 992px) {
    .main-nav {
        padding: 0;
        display: flex;
        flex-direction: column-reverse;
        position: static;
        background-color: #0075ce;
        height: auto;
        overflow: visible;
        box-shadow: 0px 4px 10px rgba(0, 9, 16, 0.4);
    }

    .main-nav__slogan-wrapper {
        display: none;
    }

    .main-nav__list {
        margin: 0 35px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .main-nav__list > li {
        position: relative;
        margin: 0;
        padding: 10px 0;
        border-bottom: none;
        width: 225px;
        text-align: center;

        & a {
            font-size: 14px;
            color: white;
        }

        & > a {
            text-decoration: none;
            position: relative;
            font-size: 14px;
            color: white;

            &.active {
                color: $font-color-yellow;
            }

            & i {
                display: inline-block;
                color: white;
                font-size: 18px;
                position: absolute;
                top: 0px;
                right: -18px;
            }

            &:hover,
            &:not([href]):hover {
                color: $font-color-yellow;
            }
        }


        &:hover .main-nav__sub-list {
            position: absolute;
            top: 46px;
            left: -14px;
            display: block;
            background-color: #0075ce;
            border-top: 3px solid $border-red;
            z-index: 99;
            text-align: left;
            width: 250px;

            & > li {
                padding: 5px 18px;
                font-size: 14px;

                &:hover {
                    background-color: #004478;
                }

                & a.active {
                    color: $font-color-yellow;
                }
            }
        }
    }

    .main-nav__sub-list {
        display: none;
    }
}
