.main-news h2 {
    margin-bottom: 30px;
    font-family: 'Merriweather';
    font-size: 18px;
    color: $font-color-blue;
}

.main-news ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-news ul li {
    margin-bottom: 25px;
    font-size: 14px;
}

.main-news h3 {
    font-family: 'Open Sans';
    font-size: 16px;
    color: #00528f;
}

.main-news p {
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 18px;
    color: #323537;
}

@media (min-width: 992px) {
    .main-news h2 {
        font-size: 18px;
        margin-bottom: 25px;
    }

    .main-news li {
        padding-left: 25px;

        &:hover {
            padding-left: 24px;
            border-left: 1px solid $border-red;
        }
    }

    .main-news h3 {
        line-height: 15px;
        margin-bottom: 15px;
    }

    .main-news p {
        font-size: 14px;
        line-height: 18px;
    }
}
